body{
    margin: 0;
    padding: 0;
    font-family: 'Tangerine', serif;
    font-size: 32px;
    /* background-image: url('../images/bg-img.webp');
    background-position: cover;
    background-repeat: no-repeat; */
}
header{
    text-align: center;
    padding: 50px;
}
header > h1, header > p {
    margin: 0;
    padding: 0;
}
#rockstars {
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
}
#rockstars > div {
    margin: 0 10px;
}
div > img {
    width: 250px;
    height: 250px;
}
div > p {
    font-size: 1em;
    margin: 5px 0;
}
div > a {
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    color:blue;
}
#singup-form{
    width: 30%;
    margin: 50px auto;
    font-size: 0.9em;
    background-color: lightgray;
    padding: 50px;
}
input[type='text'], input[type="email"] {
    padding: 5px;
    width: 100%;
    display: block;
}
#singup-form > form > div {
    margin: 20px 20px;
}
footer{
    background-image: url('../images/bg-image.jpeg');
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
button {
    padding: 5px 10px;
    font-family: 'Tangerine';
    font-size: 0.9em;
}
@media screen and (max-width: 768px){
    #singup-form {
        width: 350px;
    }
}
@media screen and (max-width: 767px){
    #rockstars{
        flex-direction: column;
    }
    #rockstars > div {
        margin: 10px;
    }
}